*{
    margin: 0px;
    padding: 0%;
}

.title{
    color: black;
    text-align: center;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.centre{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
    width: 100%;
    display: block;
}

.Carte{
    flex-direction: column;
    display: flex;
    background-color: white;
    height: auto;
    width: 250px;
    margin-left: 10px;
}

.desc{
    color: grey;
    margin-top: 15px;
}

.media{
    width: 20px;
    height: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.contact{
    background-color: black;
    color: white;
    justify-content: center;
    height: 30px;
    margin-top: 15px;
}

.bouton{
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    height: 30px;
}

a{
    color: white;
    text-decoration: none;
}

.fond{
    background-color: black;
}

.mid{
    background-color: white;
}

.ville{
    color: black;
    margin-top: 15px;
}